<router-outlet></router-outlet>
<h2>MODIFICAR CUENTA BANCARIA</h2>
<form nz-form [formGroup]="validateForm" (ngSubmit)="Modificar($event)">
  <nz-form-label for="codigo">CÓDIGO</nz-form-label>
  <nz-form-item>
    <div style="color: blue">{{ cuentaB.idCB }}</div>
  </nz-form-item>
  <nz-form-label for="nombre" nzRequired>NOMBRE</nz-form-label>
  <nz-form-item>
    <nz-form-control>
      <input
        nz-input
        formControlName="nombreCB"
        id="nombreCB"
        [(ngModel)]="cuentaB.nombreCB"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          validateForm.get('nombreCB')?.errors &&
          validateForm.get('nombreCB')?.touched
        "
      >
        <p *ngIf="validateForm.get('nombreCB')?.hasError">
          El campo es requerido
        </p>
        <p *ngIf="validateForm.get('nombreCB')?.hasError('pattern')">
          Digite solo LETRAS y solo UN espacio en BLANCO.
        </p>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-label for="entidad" nzRequired>ENTIDAD</nz-form-label>
  <nz-form-item>
    <nz-form-control>
      <input
        nz-input
        formControlName="entidadCB"
        id="entidadCB"
        [(ngModel)]="cuentaB.entidadCB"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          validateForm.get('entidadCB')?.errors &&
          validateForm.get('entidadCB')?.touched
        "
      >
        <p *ngIf="validateForm.get('entidadCB')?.hasError">
          El campo es requerido
        </p>
        <p *ngIf="validateForm.get('entidadCB')?.hasError('pattern')">
          Digite solo LETRAS y solo UN espacio en BLANCO.
        </p>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-label for="descripcion" nzRequired>DESCRIPCIÓN</nz-form-label>
  <nz-form-item>
    <nz-form-control>
      <input
        nz-input
        formControlName="descripcionCB"
        id="descripcionCB"
        [(ngModel)]="cuentaB.descripcionCB"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          validateForm.get('descripcionCB')?.errors &&
          validateForm.get('descripcionCB')?.touched
        "
      >
        <p *ngIf="validateForm.get('descripcionCB')?.hasError">
          El campo es requerido
        </p>
        <p *ngIf="validateForm.get('descripcionCB')?.hasError('pattern')">
          Digite solo LETRAS y solo UN espacio en BLANCO.
        </p>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-col nzSpan="7">
    <nz-form-label for="estado" nzRequired>ESTADO</nz-form-label>
    <nz-form-item>
      <nz-form-control nzErrorTip="Seleccione el estado">
        <select
          formControlName="estadoCB"
          id="estadoCB"
          nzPlaceHolder="Seleccione..."
          [(ngModel)]="cuentaB.estadoCB"
          class="form-select"
          style="border: 2px solid #490367"
        >
          <option value="true">Habilitado</option>
          <option value="false">Deshabilitado</option>
        </select>
      </nz-form-control>
    </nz-form-item>
  </nz-col>
  <nz-form-item>
    <nz-form-control>
      <button
        nz-button
        routerLink="/sesion/ban/inicio"
        class="ov-btn-slide-topr"
      >
        Regresar
      </button>
      <button
        nz-button
        nzType="primary"
        type="submit"
        class="ov-btn-slide-topr"
      >
        Guardar
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
