h1 {
  margin: 0 0 10px;
  padding: 0;
  color: #490367;
  text-align: center;
  font-family: "sans-seri";
}

.transUp {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.transUp:hover {
  transform: translatey(-20px);
  -webkit-transform: translatey(-20px);
  -moz-transform: translatey(-20px);
}

.ov-btn-slide-top {
  background: white; /* color de fondo */
  color: #490367; /* color de fuente */
  border: 2px solid #490367; /* tamaño y color de borde */
  padding: 6px 40px;
  border-radius: 5px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.ov-btn-slide-top:hover {
  color: white; /* color de fuente hover */
}
.ov-btn-slide-top::after {
  content: "";
  background: #490367; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.ov-btn-slide-top:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

h2 {
  margin: 0 0 10px;
  padding: 0;
  color: #490367;
  text-align: left;
  font-family: "sans-seri";
}
